html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

nav {
	background:transparent;
	border: 1px solid #292929;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar-brand {
	letter-spacing: 3px;
	padding-left: 15px;
}

.nav-item {
	color: #ffffff;
}

.nav-item:hover {
	color: #ffffff;
	background-color: rgba(80, 80, 80, 0.75);
}

#hamburger {
	outline: none;
}

#about-div {
	background-color: #292929;
	border: 1px solid #292929;
}

#about-container {
	margin-top: 145px;
	margin-bottom: 135px;
	margin-left: 150px;
	margin-right: 150px;
}

#about-paragraph {
	margin-top: 35px;
	color: white;
}

#hi {
	font-family: Courgette;
	font-size: 48px;
/*	color: #e86c1f;
*/}

#sahil {
	font-family: Arvo;
	font-size: 42px;
	margin-left: 5px;
/*	color: #00bfff;
*/}

#description {
	font-size: 18px;
}

#profile {
	border-radius: 50%;
	width: 400px;
	margin-bottom: 50px;
}

#technical-heap-div {
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

#technical-heap-container {
	margin: 90px auto 120px auto;
}

#technical-heap-title {
	font-family: Courier New;
	text-align: center;
	margin-bottom: 35px;
}

#terminal-head {
	background-color: #dfdfdf;
	height: 40px;
	width: 100%;
}

.code {
	font-size: 32px;
}

.dot {
	height: 13px;
	width: 13px;
	border-radius: 50%;
	display: inline-block;
	margin-top: 1%;
}

.dot:nth-child(1) {
	margin-left: 0%;
	margin-right: 0.25%;
	background-color: #ff5f57;
}

.dot:nth-child(2) {
	margin-right: 0.25%;
	background-color: #ffbd2e;
}

.dot:nth-child(3) {
	margin-right: 33%;
	background-color: #28ca42;
}

#house {
	width: 2.25%;
	padding-bottom: 0.5%;
}

#terminal-title {
	margin: auto;
}

.technical-heap-list {
	padding-top: 17px;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	font-family: Courier New;
	font-size: 16px;
	width: 400px;
	line-height: 0.5;
	border-radius: 0 0 10px 10px;
}

br {
	line-height: 1;
}

#projects-div {
	background-image: url("https://sahilrailkar.github.io/images/blueprint.png");
}

#project-title {
	font-family: Roboto Slab;
	text-align: center;
	color: white;
	margin: 75px auto 50px auto;
}

.card {
	margin: 0 auto 100px auto;
}

#more {
	font-size: 24px;
	color: #bbbbbb;
}

#contact-div {
	background-color: #292929;
	box-shadow: inset 1px 10px 10px #000000;
}

.logo-container {
	padding-left: 50%;
	padding-top: 6%;
}

.logo {
	width: 50px;
	height: 50px;
	margin-top: 20%;
	margin-bottom: 20%;
}

#linkedin {%
	display: block;
}

#github {
	display: block;
}

#facebook {
	display: block;
}

.gutter {
	padding-bottom: 3%;
}

#hobbies-div {
	background-color: #fcd440;
	padding: 5% 0 7.5% 0;
}

#hobbies-title {
	margin-bottom: 5%;
	text-align: center;
	font-family: Pacifico;
	font-size: 42px;
}

.hobbies-pics {
	height: 200px;
	margin-left: 25%;
}

.hobbies-paragraph {
	margin-left: 7.5%;
	font-family: Helvetica Neue;
}
