html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#nav-div {
	margin-bottom: 55px;
	border: 1px solid black;
}

nav {
	background-color: #292929;
}

.navbar-brand {
	letter-spacing: 0.2rem;
	margin-left: 1rem;
}

.nav-item {
	transition: all .4s ease;
	color: #ffffff;
	margin-left: 1rem;
}

.nav-item:hover {
	color: #ffffff;
	background-color: rgba(80, 80, 80, 0.75);
}

#about-div {
	margin-top: 22.5vh;
	margin-bottom: 22.5vh;
}

#profile-div {
	text-align: center;
}

#about-paragraph {
	color: white;
	padding: 3vh;
}

#hi {
	font-family: Courgette;
	font-size: 2.75rem;
	color: #ff8552;
}

#sahil {
	font-family: Arvo;
	color: #ff8552;
	font-size: 2.6rem;
	padding-left: 0.3rem;
}

#description {
	font-size: 1.125rem;
}

#profile {
	border-radius: 50%;
	width: 100%;
	max-width: 400px;
}

#arrow {
	padding-left: 45%;
	padding-bottom: 5%;
}

.material-icons.md-48 {
	color: white;
	font-size: 3rem;
}

.move {
	animation: move 2s infinite;
}

@keyframes move {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-2rem);
	}
	60% {
	  transform: translateY(-1rem);
	}
}

#technical-heap-div {
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

#technical-heap-container {
	margin: 90px auto 90px auto;
}

#technical-heap-title {
	font-family: Courier New;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

#terminal-head {
	background-color: #dfdfdf;
	height: 2.5rem;
	text-align: center;
	padding-top: 0.5rem;
}

.code {
	font-size: 2rem;
}

#dots {
	text-align: left;
	float: left;
	width: 3.49rem;
}

.dot {
	height: 13px;
	width: 13px;
	border-radius: 50%;
	display: inline-block;
	margin-top: 1%;
}

.dot:nth-child(1) {
	margin-right: 0.2rem;
	background-color: #ff5f57;
}

.dot:nth-child(2) {
	margin-right: 0.2rem;
	background-color: #ffbd2e;
}

.dot:nth-child(3) {
	background-color: #28ca42;
}

#house {
	width: 2.25%;
	padding-bottom: 0.5%;
}

#terminal-title {
	margin: auto;
}

.technical-heap-list {
	padding-top: 1rem;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	font-family: Courier New;
	font-size: 1rem;
	width: 25rem;
	border-radius: 0 0 10px 10px;
}

#projects-div {
	background-image: url('../images/blueprint.jpg');
	padding: 90px 0 90px 0;
}

#project-title {
	font-family: "Permanent Marker";
	font-size: 3rem;
	text-align: center;
	color: white;
	margin-bottom: 3rem;
}

#more {
	font-size: 28px;
	color: #bbbbbb;
}

.project {
	transition: transform .2s;
}

.project:hover {
	transform: scale(1.04);
}

.card {
	width: 18rem;
	height: 31rem;
	border-radius: 0 !important;
	margin: 0 auto 45px auto;
}

.card-img-top {
	width: 16.75rem;
	height: 16.75rem;
	border-bottom: 1px solid silver;
}

.card-body {
	text-align: center;
}

.card-text {
	text-align: left;
}

.card-link {
	position: absolute;
	width: 85.2%;
	bottom: 1%;
}

.link {
	font-family: "Permanent Marker";
	text-decoration: none !important;
}

#hobbies-div {
	background-color: white;
	padding: 90px 0 90px 0;
}

#hobbies-title {
	margin-bottom: 4rem;
	text-align: center;
	font-family: Pacifico;
	font-size: 3rem;
}

.hobbies-pics {
	height: 12.5rem;
	display: block;
  	margin: auto;
}

.hobbies-paragraph {
	text-align: left;
	margin: 0 5% 12.5% 7.5%;
}

#contact-div {
	box-shadow: inset 0px 10px 10px #000000;
}

.logo {
	text-align: center;
}

.logo-img {
	width: 50px;
	height: 50px;
	margin-top: 100px;
	margin-bottom: 20px;
}

#linkedin {
	margin-left: 4px;
}

#resume {
	width: 57px;
	height: 57px;
	margin-right: 4px;
}

#space {
	height: 80px;
}

@media only screen and (max-width: 991px) {
	#about-div {
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	#about-paragraph {
		color: white;
		margin: 4vh auto 0 auto;
	}

	#profile {
		border-radius: 50%;
		width: 100%;
		max-width: 350px;
	}

	#technical-heap-title {
		font-family: Courier New;
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	.code {
		font-size: 1rem;
	}

	.card {
		width: 18rem;
		height: 31rem;
		margin: 0 auto 45px auto;
		border-radius: 0 !important;
	}

    .hide {
        display: none;
    }
}

/* * {
	border: 1px solid black;
} */
